<style>
.container-fluid {
    width: 88%;
}

.main-panel{
width:100%;
margin-top: -1%;
}

.sidebar {
    display:none;
}

.card {
    box-shadow:none;
}

.title{
color:#364c56;
}

.category{
font-weight: 600;
font-size: 10px;
text-transform: uppercase;
}

.featurette {
margin-top: 10%;
}

.featurette-image{
width: 20%;
}

.featurette-heading{
margin-top: 10%;
}

.img-circle {
border-radius: 30%;
}
</style>
<body>
<%= render 'home/sidebar' %>
<div class="wrapper">


    <div class="main-panel">

<!--header-->

<div class="content">
  <div class="container-fluid">
      <div class="row">
<!--card-->
<div class="col-md-12">
<h4 class="title">So, What is Minttoday all About?</h4>
<!--<p class="category">Learn more about becoming a <%= link_to 'Sponsor', home_sponsor_path %> </p>-->
<div class="card">
<div class="header">

</div>
<!--<div class="content">-->


<!--<p></p>-->

<!--</div>-->

</div>
 <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://www.creativelysimpledesign.com/wp-content/uploads/2017/03/hm-rocket.png">
            <h2 class="featurette-heading">Who are
                <span class="text-muted">We</span>
            </h2>
            <br>
            <p class="lead">Minttoday was initially developed to serve the underrepresented community. Allowing those who wish to share poetry, stories, and create personal profiles to do so with ease. While the idea behind Minttoday was great, it didn't fill a need within the community. Minttoday is now devoted to serving nonprofits, churches, groups and other grassroot organizations. Our goal is to create the worlds <strong>Smartest, Techiest </strong>, & truely free community driven platform.</p>
        </div>


        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="http://www.creativelysimpledesign.com/wp-content/uploads/2017/03/hm-rocket-blast.png">
            <h2 class="featurette-heading">Why we
                <span class="text-muted">Are</span>
            </h2>
            <br>
            <p class="lead"><strong>We Are. Simply because you Are!</strong><br> With so many economical challenges arising. Most nonprofits, community organized groups, & new businesses struggles with remaining relevant. Most websites today charge fees to post, or the website is completely outdated, and the information is completely irrelevant. With Minttoday, anyone, or any entity can post Jobs, Events or add to our Directory <strong>totally free.</strong></p> Like foreverly free!
        </div>


        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://www.creativelysimpledesign.com/wp-content/uploads/2017/03/hm-rocket-space.png">
            <h2 class="featurette-heading">Increased
                <span class="text-muted">Visibility.</span>
            </h2>
            <br>
            <p class="lead">If your organization or business needs an efficient way to communicate with the community, Minttoday is the only sure way to do so. We allow you to post <strong>unlimited</strong> jobs & <strong>unlimited events,</strong> & we even promote your content on social media. <strong>The Point Is. </strong> If your budget is $100.00+, or $0.00 Minttoday is here for you.</p>
        </div>
</div>
<!--end-->
   
       
</div>
</div>
</div>




</div>
</div>


</body>

</html>
