<style>
.container-fluid {
    width: 88%;
}

.main-panel{
width:100%;
margin-top: -1%;
}

.sidebar {
    display:none;
}

.card {
    box-shadow:none;
}

.title{
color:#364c56;
}

.category{
font-weight: 600;
font-size: 10px;
text-transform: uppercase;
}

.featurette {
margin-top: 10%;
}

.featurette-image{
width: 20%;
}

.featurette-heading{
margin-top: 10%;
}

.img-circle {
border-radius: 30%;
}
.category{
font-weight: 600;
font-size: 10px;
text-transform: uppercase;
}
</style>
<body>
<%= render 'home/sidebar' %>
<div class="wrapper">


    <div class="main-panel">

<!--header-->

<div class="content">
  <div class="container-fluid">
      <div class="row">
<!--card-->
<div class="col-md-12">
<h4 class="title">Sponsoring</h4>
<p class="category"> <%= link_to 'Back', home_about_path %> </p>
<div class="card">
<div class="header">

</div>
<!--<div class="content">-->
<p class="title" id="p-content">
    
Duis lobortis, nulla nec tempus scelerisque, quam odio iaculis nisi, in malesuada mauris nibh sed mauris. Sed in purus eleifend, blandit felis eget, eleifend neque. Vestibulum sit amet eleifend felis, ut venenatis diam. Aenean suscipit eros vitae placerat dapibus. Nullam feugiat tellus ligula, non pharetra diam efficitur nec. Etiam imperdiet arcu varius arcu suscipit, condimentum pulvinar risus vestibulum. Curabitur euismod tincidunt cursus. Ut id magna condimentum, congue turpis in, porta magna. Curabitur sit amet dui ut libero maximus dapibus sit amet in leo. Sed eu tempus libero. Pellentesque ac dignissim nibh. Nullam auctor enim in risus feugiat elementum. Cras non lorem scelerisque, eleifend sem et, cursus leo. Morbi imperdiet arcu ante, id dignissim turpis mattis et. Duis quis ante rutrum enim elementum gravida. Etiam tincidunt nisl ut purus faucibus, mattis dapibus erat tincidunt.
</p>
<!--<p></p>-->

<!--</div>-->

</div>
</div>
<!--end-->
   
       
</div>
</div>
</div>




</div>
</div>


</body>

</html>
